<div style="display: flex;flex-direction: column;">
    <div style="display: flex;flex-direction: column;max-width: 200px;">
        <input class="form-control" type="text" placeholder="name" #name>
        <input class="form-control" type="number" placeholder="tel" #tel>
        <input class="form-control" type="text" placeholder="address" #address>
        <input class="form-control" type="text" placeholder="ref name" #refName>
        
        <button class="btn btn-primary" (click)="onClickAdd(name.value,tel.value,address.value,refName.value)">Kaydet</button>
    </div>
    <div style="display: flex;flex-direction: row;">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Telephone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Reference</th>
                    <th scope="col">Functions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users$| async; let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{user.name}}</td>
                    <td>{{user.tel}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.ref}}</td>
                    <td>
                            <button (click)="onClickShow(user)" type="button" class="btn btn-primary">Edit</button>
                            <button (click)="onClickDelete(user)" type="button" class="btn btn-primary">Delete</button>
                    </td>
            </tbody>
        </table>
        <div *ngIf="editUser" style="display: flex;flex-direction: column;width: 400px;margin-left: 100px;">
            <input class="form-control" type="text" placeholder="name" [value]="editUser.name" disabled #newName>
            <input class="form-control" type="number" placeholder="tel" [value]="editUser.tel" #newTel>
            <input class="form-control" type="text" placeholder="address" [value]="editUser.address" #newAddress>
            <input class="form-control" type="text" placeholder="ref name" [value]="editUser.ref" #newRefName>
            <button (click)="onClickEdit(newName.value,newTel.value,newAddress.value,newRefName.value)">Kaydet</button>
        </div>
    </div>
</div>